In [4]:
# Libraries import
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sns 
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [5]:
# Read the dataset
df = pd.read_csv("dataset_brief_assur_aimant.csv")

In [6]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [7]:
# Check for missing values
missing = df.isnull().sum()
print(missing)

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [8]:
# Check for duplicates
duplicates = df[df.duplicated(keep=False)]
print(duplicates)

     age   sex    bmi  children smoker     region    charges
195   19  male  30.59         0     no  northwest  1639.5631
581   19  male  30.59         0     no  northwest  1639.5631

In [ ]:
def classify_bmi(row):
    if row["bmi"] < 18.5:
        return "underweight"
    elif row["bmi"] < 24.9:
        return "healthy"
    elif row["bmi"] < 29.9:
        return "overweight"
    else:
        return "obese"

data["bmi_class"] = data.apply(classify_bmi, axis=1)
data = data.drop(['bmi'], axis=1)

# Count the number of occurrences of each BMI class
counts = data['bmi_class'].value_counts()

# Add labels to each bar
for i, v in enumerate(counts.values):
    plt.text(i, v, str(v))

# Plot the bar chart
plt.bar(counts.index, counts.values)
plt.xlabel('BMI Class')
plt.ylabel('Count')
plt.title('Distribution of BMI Classes')
plt.show()